.grid-1 {
  padding: 0 120px;
  padding-bottom: 8vh;
}
@media screen and (max-width: 1350px) {
  .grid-1 {
    padding: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .grid-1 {
    padding: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .grid-1 {
    padding: 35px;
  }
}
@media screen and (max-width: 750px) {
  .grid-1 {
    padding: 20px;
  }
}
@media screen and (max-width: 650px) {
  .grid-1 {
    padding: 10px;
  }
}
@media screen and (max-width: 630px) {
  .grid-1 {
    padding: 2px;
  }
}
@media screen and (max-width: 599px) {
  .grid-1 {
    padding: 60px;
  }
}
.grid-2 {
  padding: 0 300px;
  padding-bottom: 12vh;
  /* margin-top: -100px; */
}
